{% extends "forum_base.html" %}
{% load forum_tags %}
{% load accounts_tags %}
{% load static %}

{% block headtitle %}Edit Profile{% endblock %}

{% block head %}
    <script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" id="MathJax-script"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link disabled rel="stylesheet"
          href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/styles/default.min.css">
    <script async src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.18.0/build/highlight.min.js"></script>
{% endblock %}

{% block js %}

    <script src="{% static 'semantic.min.js' %}"></script>
    <script src="{% static 'prism.js' %}"></script>
    <script src="{% static 'setup.js' %}{% randparam %}"></script>
{% endblock %}

{% block content %}




    <div class="ui horizontal segments no-shadow">


        <div class="ui segment  no-shadow"></div>
        <div class="ui basic compact segment no-shadow" id="edit_profile">


            <form method="post" class="ui equal width form" action="{% url 'edit_profile' %}">
                {{ form.media }}
                {% csrf_token %}

                {% form_errors form %}

                <div class="ui basic center aligned segment">
                    <span class="ui header">編輯個人檔案</span>
                </div>

                <div class="fields">

                    <div class="required form-field field">

                        <label><i class="address card icon"></i> 名稱</label>
                        {{ form.name }}
                        <div class="muted">
                            發文時使用的名稱
                        </div>

                    </div>


                    <div class="required form-field field">

                        <label><i class="at icon"></i> ID</label>
                        {{ form.handle }}
                        <div class="muted">
                            別人可以用來標註你 <code>@foo</code>.
                        </div>

                    </div>

                </div>

                <div class="fields">


                    <div class="required form-field field">

                        <label><i class="envelope icon"></i> Email</label>
                        {{ form.email }}
                        <div class="muted">
                            你的 email
                        </div>

                    </div>

                    <div class="required form-field field">

                        <label><i class="envelope icon"></i> 頭像</label>
                        {{ form.user_icon }}
                        <div class="muted">
                            選擇一個頭像
                        </div>

                    </div>

                </div>

                <div class="fields">

                    <div class="field">

                        <label><i class="linkify icon"></i> 網站</label>
                        {{ form.website }}
                        <div class="muted">
                            個人網站連結
                        </div>

                    </div>

                    <div class="field">

                        <label><i class="map marker alternate icon"></i> 所在位置</label>
                        {{ form.location }}
                        <div class="muted">
                            你的所在位置
                        </div>

                    </div>


                </div>


                <div class="fields">
                    <div class="field">

                        <label><i class="twitter icon"></i> twitter ID</label>
                        {{ form.twitter }}
                        <div class="muted">
                            你的Twitter ID
                        </div>

                    </div>

                    <div class="field">

                        <label><i class="google icon"></i> Google Scholar</label>
                        {{ form.scholar }}
                        <div class="muted">
                            你的Google Scholar ID
                        </div>

                    </div>
                </div>
                <div class="fields">

                    <div class="field">

                        <label><i class="bell icon"></i>  通知頻率 </label>
                        {{ form.digest_prefs }}
                        <div class="muted">
                            {{ form.digest_prefs.help_text }}
                        </div>

                    </div>

                    <div class="field">

                        <label><i class="bell icon"></i> 通知設定 </label>
                        {{ form.message_prefs }}
                        <div class="muted">
                            {{ form.message_prefs.help_text }}
                        </div>

                    </div>

                </div>

                <div class="fields">
                    <div class="field">

                        <label><i class="tags icon"></i> 我的標籤 </label>
                        <div class="field">
                            {{ form.my_tags }}
                            <div class="muted">

                            </div>
                        </div>


                    </div>
                </div>

                <div class="fields">
                    <div class="field">

                        <label><i class="tags icon"></i>關注標籤 </label>
                        <div class="field">
                            {{ form.watched_tags }}
                            <div class="muted">
                                每當這個有標籤的貼文出現時就會收到email通知，例如：<code>python</code>, <code>C++</code>, <code>Java</code>,
                                <code>JavaScript</code>.
                            </div>

                        </div>

                    </div>
                </div>

                <div class="fields">

                    <div class="field">

                        <label><i class="info circle icon"></i> 個人檔案資訊</label>
                        {{ form.text }}
                        <div class="muted">
                            {{ form.text.help_text }}
                        </div>

                    </div>

                </div>

                <button type="submit" class="ui submit green button">
                    <i class="save icon"></i>確定送出
                </button>

                <a class="ui right floated button" href="{% url "user_profile" user.profile.uid %}">
                    <i class="undo icon"></i>取消
                </a>


            </form>
        </div>

        <div class="ui segment no-shadow"></div>
    </div>


{% endblock %}
